@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/*Buttons*/

.button {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-menu {
  width: 160px;
  color: #ffffff;
  background-color: #756257;
  align-self: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Pages */

.main-container {
  flex-grow: 1;
}

.main-inner {
  margin-top: -10px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/*header*/

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding-right: 72px;
  padding-left: 71px;
  box-sizing: border-box;
}

.site-navigation-list {
  display: flex;
  width: 440px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-top: 17px;
}

.site-navigation-list li {
  list-style: none;
}

.site-navigation-link {
  display: block;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  margin-right: 33px;
}

.logo-header {
  width: 140px;
  z-index: 1;
}

.navigation-user {
  display: flex;
  width: 250px;
  margin-left: auto;
  margin-top: 12px;
  margin-bottom: 24px;
}

.search {
  width: 18px;
  margin-right: 21px;
  padding-top: 6px;
  align-self: center;
}

.favorite {
  width: 31px;
  margin-right: 20px;
  align-self: center;
}

/*welcome*/

.welcome {
  width: 1200px;
  height: 485px;
  background-image:
  url("../img/index/welcome.svg"),
  url("../img/index/divider.svg"),
  url("../img/index/index-background.jpg");
  background-repeat: no-repeat;
  background-position:
  50% 50%,
  0 100%;
}

/*advantages*/

.title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list li {
  list-style: none;
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  width: calc(100% / 3);
}

.advantages-item p {
  color: #333333;
}

.number {
  text-transform: uppercase;
}

.background-color {
  color: #ffffff;
  background-color: #83b3d3;
}

.background-color p {
  color: #ffffff;
}

.full-width {
  width: 100%;
}

.image-after {
  position: relative;

  padding-right: 800px;
  height: 384px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-before {
  position: relative;

  padding-left: 800px;
  height: 384px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-after::after {
  content: "";
  position: absolute;
  top: 0;
  left: 400px;
  width: 800px;
  height: 384px;
  background-image: url("../img/index/photo-1.jpg");
}

.image-before::before {
  content: "";
  position: absolute;
  top: 0;
  right: 400px;
  width: 800px;
  height: 384px;
  background-image: url("../img/index/photo-2.jpg");
}

.extra-light {
  background: rgba(131, 179, 211, 0.12);
}

.light {
  background: rgba(131, 179, 211, 0.2);
}

/*hotel-search*/

.hotel-search {
  text-align: center;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hotel-search-link-index {
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  border-radius: 10px;
}

/*subscribe-form-index*/

.subscribe-form-index {
  width: 1200px;
  height: 411px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.9);
  background-image: url("../img/index/subscribe-background.jpg");
  background-repeat: no-repeat;
}

.subscribe-form-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.subscribe-form-description {
  width: 720px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  border-color: #83b3d3;
}

.field {
  width: 600px;
}

/*catalog*/

.background-container {
  width: 1200px;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 0.9);
  background-image: url("../img/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
}

.catalog-container {
  padding-top: 35px;
  padding-right: 72px;
  padding-left: 71px;
  padding-bottom: 60px;
}

/*inner-header*/

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
}

/*filter-hotels*/

.catalog-filter {
  display: flex;
  width: 1056px;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.catalog-filter-title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin-bottom: 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-list li {
  line-height: 23px;
  list-style: none;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-group:first-child {
  width: 150px;
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
  width: 175px;
  margin-right: 145px;
  }

.catalog-filter-group:nth-child(3) {
  width: 300px;
  }

.filter-buttons-group {
  margin-left: auto;
  align-items: center;
}

.button-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.catalog-filter-button {
  background-color: #83b3d3;
  border-color: #83b3d3;
}

fieldset {
  border: 0;
}

/*catalog-hotel*/

.catalog-hotel {
  width: 1056px;
  margin-right: 72px;
  margin-left: 72px;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.sorting-container {
  display: flex;
  width: 1057px;
  padding-top: 44px;
  padding-bottom: 42px;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
}

.sorting-hotel {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 192px;
  padding-top: 5px;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 67px;
  padding-left: 15px;
}

.sorting-type {
  width: 287px;
}

.view-list {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
}

.view-item {
  width: 48px;
  margin-right: 8px;
}

.view-item:last-child {
  margin-right: 0;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels-title {
  text-decoration: none;
}

.hotels-title h3 {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotels-description {
  line-height: 23px;
  color: #333333;
}

.hotels-rating {
  font-size: 16px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.button-description {
  background-color: #756257;
}

.button-favorite {
  background-color: #83b3d3;
}

.button-in-favorite {
  background: #7db54f;
}

.quantity {
  line-height: 23px;
  color: #333333;
}

.subscribe-form {
  width: 800px;
  margin: 0 auto;
}

.subscribe-form > p {
  color: #333333;
}

.button-download-more {
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
}

.pagination-link {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/*main-footer*/

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-right: 72px;
  padding-left: 72px;
  box-sizing: border-box;
}

.footer-social-list {
  width: 108px;
  margin-right: 60px;
  padding: 0;
}

.main-footer a {
  text-decoration: none;
}

.footer-contacts-phone {
  max-width: 720px;
  align-self: center;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-social-item {
  list-style: none;
}

.logo-copyright {
  max-width: 115px;
  margin-left: 53px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
